# Python virtual environment
venv/

# Python cache files
__pycache__/

# Transformer model directory
transformers/with_id/transformer_model_id/
transformers/without_id/transformer_model/
transformers/without_id/transformer_roberta_model/
transformers/without_id/transformer_gcb_model/
transformers/without_id/transformer_gpt2_model/